version: '3.9'
services:


  db:
    image: postgres:15
    container_name: my_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - my_network


  fastapi:
    build: .
    depends_on:
      # - kafka
      - db
    environment:
      KAFKA_BOOTSTRAP: kafka:9092
    ports:
      - "8000:8000"
    networks:
      - my_network

 

networks:
  my_network:
    driver: bridge
